.linha{
    border: 0; 
    height: 2px; 
    background-color: black;
    margin: 10px 0; 
}
header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    
}
main{
    margin-top: 100px;
}
.series {
    margin-top: 0;
}

@media (min-width: 768px) {
    .series {
        margin-top: 100px;
    }
}

.card {
    height: 400px; 
}

.card-img-top {
    height: 200px; 
    object-fit: cover; 
}
.data{
    font-size: 14px;
}

.card {
    min-height: 400px;
    max-height: 400px; 
    display: flex;
    flex-direction: column;
}

.card-img-top {
    min-height: 200px; 
    max-height: 200px;
    object-fit: cover; 
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
}

.form-check {
    margin-bottom: 10px;
}

button.btn {
    margin-top: 15px;
}

aside.card {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
}


.form-label, .form-check-label {
    font-size: 18px; 
}





